@media (max-width: 1200px)
    .container
        max-width: 960px
@media (max-width: 992px)
    .container
        max-width: 700px
    .header
        &__item
            margin-right: 30px
    .cards
        &-wrapper
            width: 704px
        &__card
            flex-direction: column
            &-text
                max-width: 280px

@media (max-width: 767px)
    .container
        max-width: 576px
        width: 92%
    .header
        padding: 18px 0
        &__logo
            width: 77px
        &__links
            display: none
        &__menu
            &-button
                display: flex
                width: 22px
                height: 17.7px
                align-items: center
                justify-content: space-between
                flex-direction: column
                border: none
                background-color: transparent
                cursor: pointer
                padding: 0
    .menu
        &-button
            &__line
                width: 22px
                height: 2.2px
                background-color: $light
    .hero
        &__title
            font-size: 48px
            line-height: 60px
    .cards
        &-wrapper
            flex-direction: column
            align-items: center
            width: 100%
        &__card
            align-items: center
            width: 100%
            &-text
                max-width: 90%
            
@media (max-width: 576px)
    .container
        max-width: 85%
    .hero
        &__cards
            transform: translateY(750px)
@media (max-width: 320px)
    .hero
        &__cards
            transform: translateY(950px)
        &__title
            font-size: 32px
            line-height: 40px

