*
    box-sizing: border-box
body
    font-family: Open Sans
    color: $light
.container
    max-width: 1140px
    margin: auto
img
    max-width: 100%
a
    text-decoration: none
.button
    border: 2px solid $light
    background-color: transparent
.grey
    &-text
        color: $grey

input::placeholder  ,input::-ms-input-placeholder  ,input:-ms-input-placeholder ,input::-webkit-input-placeholder,input::-moz-placeholder
    color: red