.cards
    display: flex
    align-items: center
    flex-direction: column            
    &-wrapper
        display: flex
        width: 948px
        flex-wrap: wrap
        justify-content: space-between
    &__card
        margin-bottom: 16px
        background: $light
        border: 1px solid #E5EAF4
        box-sizing: border-box
        box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.05)
        border-radius: 16px
        display: flex
        align-items: flex-start
        padding: 30.5px
        &-icon
            margin-right: 24px
        &-info
            display: flex
            flex-direction: column
        &-title
            color: $dark
            font-style: normal
            font-weight: bold
            font-size: 22px
            line-height: 33px
        &-text
            font-family: Open Sans
            font-style: normal
            font-weight: normal
            font-size: 18px
            line-height: 32px
            color: #5A7184
            max-width: 338px 
    &-more
        color: $primary
        display: flex
        justify-content: center
        align-items: center
        width: 100%
        &__icon
            margin-left: 15px
