.header
    background-color: $primary
    padding: 26px 0
    &-wrapper
        display: flex
        justify-content: space-between 
        align-items: center
    &__links
        display: flex
        list-style: none
        align-items: center
    &__item
        margin-right: 40px
    &__link
        font-style: normal
        font-weight: 600
        font-size: 16px
        line-height: 22px
        color: $light
        padding: 0
    &__button
        font-style: normal
        font-weight: bold
        font-size: 16px
        line-height: 22px
        color: $light
        padding: 13px 23px
        border-radius: 8px
    &__menu
        &-button
            display: none
